<h1>Editing club</h1>

<% form_for(@club) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :party_id %><br />
    <%= @club.party.first_name + " " + @club.party.last_name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :league_id %><br />
    <%= @club.league.name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @club %> |
<%= link_to 'Back', clubs_path %>