<p>
  <b>Party:</b>
  <%=h @club.party.first_name + " " + @club.party.last_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @club.name %>
</p>

<p>
  <b>League:</b>
  <%=h @club.league.name %>
</p>


<%= link_to 'Edit', edit_party_club_path(@party, @club) %> |
<%= link_to 'Back', party_clubs_path %>